*.gem
.sass-cache
bootstrap.css
bootstrap-responsive.css
Gemfile.lock
*.gemfile.lock
.rvmrc
.rbenv-version

# Ignore bundler config
/.bundle
/vendor/cache
/vendor/bundle
tmp/
test/screenshots/
test/dummy_rails/log/*.log
test/dummy_rails/public/assets/
.DS_Store
node_modules
/.idea
PetProject/js/bootstrap.bundle.js
PetProject/js/bootstrap.bundle.js.map
PetProject/js/bootstrap.bundle.min.js
PetProject/js/bootstrap.bundle.min.js.map
PetProject/js/bootstrap.esm.js
PetProject/js/bootstrap.esm.js.map
PetProject/js/bootstrap.esm.min.js
PetProject/js/bootstrap.esm.min.js.map
PetProject/js/bootstrap.js
PetProject/js/bootstrap.js.map
PetProject/js/bootstrap.min.js
PetProject/js/bootstrap.min.js.map
PetProject/css/bootstrap.rtl.min.css.map
PetProject/css/bootstrap.rtl.min.css
PetProject/css/bootstrap.rtl.css.map
PetProject/css/bootstrap.rtl.css
PetProject/css/bootstrap.min.css.map
PetProject/css/bootstrap.min.css
PetProject/css/bootstrap.css.map
PetProject/css/bootstrap-utilities.rtl.min.css.map
PetProject/css/bootstrap-utilities.rtl.min.css
PetProject/css/bootstrap-utilities.rtl.css.map
PetProject/css/bootstrap-utilities.rtl.css
PetProject/css/bootstrap-utilities.min.css.map
PetProject/css/bootstrap-utilities.min.css
PetProject/css/bootstrap-utilities.css.map
PetProject/css/bootstrap-utilities.css
PetProject/css/bootstrap-reboot.rtl.min.css.map
PetProject/css/bootstrap-reboot.rtl.min.css
PetProject/css/bootstrap-reboot.rtl.css.map
PetProject/css/bootstrap-reboot.rtl.css
PetProject/css/bootstrap-reboot.min.css.map
PetProject/css/bootstrap-reboot.min.css
PetProject/css/bootstrap-reboot.css.map
PetProject/css/bootstrap-reboot.css
PetProject/css/bootstrap-grid.rtl.min.css.map
PetProject/css/bootstrap-grid.rtl.min.css
PetProject/css/bootstrap-grid.rtl.css.map
PetProject/css/bootstrap-grid.rtl.css
PetProject/css/bootstrap-grid.min.css.map
PetProject/css/bootstrap-grid.min.css
PetProject/css/bootstrap-grid.css.map
PetProject/css/bootstrap-grid.css
